HELP.md
target/
pages/
.env
logs/
*.tmp
*.temp
.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
*.iws
*.iml
*.ipr
.idea/
*.log
.DS_Store

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/

### VS Code ###
.vscode/
.vs/

# Spring Boot
*.pid
*.orig

# Maven
.m2/
